.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  // position: fixed;
  top: 0;
  z-index: 100;
  background-color: transparent;
  &__img {
    width: 95px;
    height: 35px;
    object-fit: contain;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__logo {
    margin-right: 35px;
  }
  &__link {
    // @include f16-wm();
    margin-right: 35px;
  }
  &__trigger {
    display: none;
    margin-left: var(--gap-sh);
    z-index: 101;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1480px;
  padding: var(--gap-v) var(--gap-h);
}

.header__left {
  display: flex;
}

.header__right {
  display: flex;
  align-items: center;
}

.main-menu {
  display: flex;
  justify-content: center;
}

.main-menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
}

.main-menu__item {
  position: relative;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.5px;
  cursor: pointer;
  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    margin-right: 30px;

    /* Primary color */

    color: #ffce4e;
  }
}

.connect-button {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 30px;
  text-transform: uppercase;
  border-radius: 4px;
  background: transparent;
  border: 1px solid #ffce4e;
  cursor: pointer;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  background: rgba(233, 215, 167, 0.2);

  /* Primary color */

  color: #ffce4e;
}
